<?xml version="1.0" encoding="UTF-8"?>  

<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http:http://phonegap.com/ns/1.0"
	id = "com.phonegap.app5"
	version ="1.0.0">

<name>app5 Advertencias del Dispositivo 2018</name>

<description>
Aplicacion que realiza la vibracion y beep del Dispositivo
	</description>

	<autor href="https://build.phonegap.com" email="reyes.yuya.42@gmail.com">
		Maria Yulissa Reyes Romero
	</autor>

	<!--personalizza la aplicacion y plataforma-->
	<!-- <preference name="orientation"   value="default"/> -->
	<preference name="orientation" value="portrait"/>
	<!-- <preference name="orientation"   value="landscape"/> -->
	<preference name="target-device"    value="universal"/>
	 <preference name="fullscreen"    value="true"/>
	 <preference name="android-installLocation"    value="auto"/>
    <preference name="permissions"    value="INTERNET"/>
	
	<!--para acceder a paginas en internet-->
	<allow-intent href="https://*/*"/>
	<acces origin="https://*/*"/>
	<allow-intent href="http://*/*"/>
	<plugin name="cordova-plugin-whitelist" source="npm"/>
	
	<!--plugins-->
	<!--Core plugins-->
	<plugin name="cordova-plugin-device" spec="~1.1.4"/>
	<plugin name="cordova-plugin-vibration" spec="~2.1.3"/>
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1"/>
	
	<!--<plugin name="cordiva-plugin-geolocation" source="npm"/>-->
	  <!--Third part plugins-->
	  
	  <!--Colocar icono app-->
	  
 <icon src="res/android/mpdi.png"/>
 
 </widget>
	  